<%= render 'shared/page_title', title: "Pastor: " + @pastor.pastorname %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @pastor, size:200 %>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3><em>Sermons:</em></h3>
    <%= will_paginate @sermons %>
  </div>
</div>

<% @sermons.each do |sermon| %>
  <div class="row">
    <div class="col-lg-6 well col-lg-offset-3">
      <h4><%= link_to sermon.name, sermon_path(sermon) %></h4>
      <p><%= sermon.summary %></p>
      <p>
        <span class="quiet"><small>created: <%= time_ago_in_words(sermon.created_at) %> ago, </small></span>
        <span class="quiet"><small>updated: <%= time_ago_in_words(sermon.updated_at) %> ago</small></span>
      </p>
          <div class="pull-right">
            <%= link_to like_sermon_path(sermon, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= sermon.thumbs_up_total %>
            <% end %> &nbsp&nbsp&nbsp&nbsp
             <%= link_to like_sermon_path(sermon, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= sermon.thumbs_down_total %>
            <% end %>
          </div>
    </div>
  </div>
<% end %>