<%= render 'shared/page_title', title: "All Sermons" %>
<%= will_paginate %>
<% @sermons.each do |sermon| %>
<div class="row">
  <div class="col-md-2">
    <section class="pastor_info center">
      <%= link_to gravatar_for(sermon.pastor, size: 100), sermon_path(sermon.pastor) %>
      <h5>Pastor name: <%= sermon.pastor.pastorname %></h5>
      
    </section>
  </div>
  <div class="col-lg-6 well">
    <h4><%= link_to sermon.name, sermon_path(sermon) %></h4>
    <p><%= sermon.summary %></p>
    <p>
      <span class="quiet"><small>created: <%= time_ago_in_words(sermon.created_at) %> ago, </small></span>
      <span class="quiet"><small>updated: <%= time_ago_in_words(sermon.updated_at) %> ago</small></span>
    </p>
    <div class="pull-right">
          <%= link_to like_sermon_path(sermon, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= sermon.thumbs_up_total %>
          <% end %> &nbsp&nbsp&nbsp&nbsp
           <%= link_to like_sermon_path(sermon, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= sermon.thumbs_down_total %>
          <% end %>
        </div>
  </div>
  
  <div class="col-md-4">
    <%= image_tag(sermon.picture.url, size: "250x150", class: "gravatar") if sermon.picture? %>
  </div>
</div>
<hr/>
<% end %>

<%= will_paginate %>