<%= render 'shared/page_title', title: @sermon.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= gravatar_for @sermon.pastor, size:200 %>
    <p>
      <h5>Brought to you by: <%= @sermon.pastor.pastorname %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <%= link_to "Edit this Sermon", edit_sermon_path(@sermon), class: "btn btn-success pull-right" %>
    <h3><%= @sermon.summary %></h3>
    <div class="show_sermon">
      <%= image_tag(@sermon.picture.url, class: "gravatar") if @sermon.picture? %>
    </div>
      <div class="well">
        <p>
          <strong>Sermon:</strong>
        </p>
        <%= simple_format(@sermon.description) %>
        <div class="pull-right">
          <%= link_to like_sermon_path(@sermon, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @sermon.thumbs_up_total %>
          <% end %> &nbsp&nbsp&nbsp&nbsp
           <%= link_to like_sermon_path(@sermon, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @sermon.thumbs_down_total %>
          <% end %>
        </div>
      </div>
    
  </div>
</div>
<h5><%= link_to "Return to sermons listings", sermons_path, class: "btn btn-warning btn-small" %></h5>